$colorprimario-bg: #292929;
$colorsecundario-bg: #291616;
$accent-color: tomato;
$hover-color: #dd0d0d;
$font-color: #ffffff;
$button-bg: #d4543d;
$dark-bg: #160e0e;
$box-radius: 50px;
$font1: "Gemstone";
$font2: "ghostphobia";
$font3: "Metal Mania";
$font4: "Nunito_Sans";
