@use "./components/variables";
@use "./components/navbar";
@use "./components/footer";
@use "./components/main";
@use "./components/plataforma";
@use "./components/pjcontainer";
@use "./components/logo";
@use "./components/juego";
@use "./components/vermas";
@use "./components/eschorzn";
@use "./components/escerend";
@use "./components/escenarios";
@use "./components/textopj";

@font-face {
  font-family: $font1;
  src: url(../fonts/gemstone/Gemstone.ttf);
}

@font-face {
  font-family: $font2;
  src: url(../fonts/ghostphobia/Ghostphobia.ttf);
}

@font-face {
  font-family: $font3;
  src: url(../fonts/Metal_Mania/MetalMania-Regular.ttf);
}

@font-face {
  font-family: $font4;
  src: url(../fonts/Nunito_Sans/NunitoSans-Italic-VariableFont_YTLC,opsz,wdth,wght.ttf);
}

@media (max-width: 768px) {
  .personaje-container {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
