#plataforma {
  background-color: #422b2b;
  color: #131212;
  font-family: $font2;
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  appearance: none;

  option {
    background-color: #e46262;
    color: #000000;
    font-family: $font2;
  }
}